<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Endpoint" value="CosmosDBEndpoint" />
    <add key="PrimaryKey" value="Key" />
    
    <add key="DatabaseName" value="Demo" />
    <add key="ContainerName" value="Benchmark" />

    <add key="AppInsightsKey" value="AppInsightsKey" />

    <add key="AutoscaleMaxThroughput" value="50000" />

    <add key="ShouldCleanupOnStart" value="false" />
    <add key="ShouldCleanupOnFinish" value="false" />

    <add key="DegreeOfParallelism" value="-1" />
    <add key="NumberOfDocumentsToInsert" value="100000000" />
    <add key="ContainerPartitionKeyPath" value="/id" />
    <add key="DocumentTemplateFile" value="Event.json" />
  </appSettings>
</configuration>

