<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="EndPointUrl" value="https://andrl.documents.azure.com:443/"/>
    <add key="AuthorizationKey" value="GOqBF7L0WKRUBVAXSAq4LedBcuXczrqlo3bw6WxC0LTk5B0IVmuHiPUnF5rG2XXq7UR7k288o5NDrA1b4z2lug=="/>

    <add key="DatabaseName" value="db"/>
    <add key="CollectionName" value="data"/>
    
    <add key="CollectionThroughput" value="500000"/>
    <add key="ShouldCleanupOnStart" value="false"/>
    <add key="ShouldCleanupOnFinish" value="false"/>
    
    <!-- determined by the tool -->
    <add key="DegreeOfParallelism" value="250"/>
    <add key="NumberOfDocumentsToInsert" value="1000000"/>

    <add key="CollectionPartitionKey" value="/pk"/>
    <add key="DocumentTemplateFile" value="Player.json"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>